  body {
  font-family: Arial;
  background-color: #faddf4;
}

.container {
  width: 400px;
  background-color: rgb(254, 177, 230);
  padding: 20px;
  margin: auto;
  margin-top: 80px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgb(237, 66, 191);
}

h2 {
  text-align: center;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background-color: rgb(81, 3, 80);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: rgb(243, 33, 106);
}   